/*Styling for the top of the page */
body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    
}

.teams{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    
}

.left{
    display: flex;
}



/*Link styling*/

.teams > .left > .nav-link-wrapper {
    margin-right: 25px;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: fantasy;
}

.teams > .right > .people {
    margin-right: 15px;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: fantasy;
    
}

.nav-link-wrapper a {
    color: rgb(0, 148, 0);
    border-bottom: transparent;
    text-decoration: none;
}

.people a {
    color: rgb(0, 148, 0);
    border-bottom: transparent;
    text-decoration: none;
}

.nav-link-wrapper:hover {
    border-bottom: 1.5px solid yellow;
}

.nav-link-wrapper:hover a {
    color: black;
}

.people:hover {
    border-bottom: 1.5px solid yellow;
    
}

.people:hover a {
    color: black;
}


/*Team Styling*/
.team-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto; 
    background-image: url();

}


@media (min-width: 800px){
    .team-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 10px;
    }

    .left {
        flex-direction: column;
    
        
    }

    }


@media (min-width: 1020px) {
    .team-wrapper{
        grid-template-columns: repeat(3, 33%);
    }


}






  
  
  



